#grillaProyects{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6";
  row-gap: 1px;
  column-gap: 10%;
  justify-content: center;
}



.articelNASHE{
  margin-top: 0px;
  margin-bottom: 100px;
  transform: perspective(900px);
  transform-style: preserve-3d;
}




.card1{
  text-align:center;
  width: 300px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  transition:.6s;
  transform: rotatex(40deg) translatey(-100px) translatez(-100px);
  box-shadow: 0px 20px 60px rgba(184, 184, 184, 0.11);
  border-radius: 20px;
  text-decoration: none;
}
.card1:hover{
  transform: rotatex(0deg);
  transform: rotatez(0deg);
  transition: all .6s;
  box-shadow: 20px 20px 20px rgba(184, 184, 184, 0.11);
}
.card1 img{
  transform: translateY(15px);
  width: 90%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}



.textCard{
  text-align:center;
  width: 270px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  transform: translatex(12px);
  color: rgb(184, 184, 184);
}



#img1{
  grid-area: img1;
}

#img2{
  grid-area: img2;
}

#img3{
  grid-area: img3;
}

#img4{
  grid-area: img4;
}

#img5{
  grid-area: img5;
}

#img6{
  grid-area: img6;
}












@media screen and (max-width: 1110px) {
  #grillaProyects{
    grid-template-areas:
      "img1 img2"
      "img3 img4"
      "img5 img6";
    justify-content: center;
  }

  .card1{
    text-align:center;
    width: 300px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.125);
    transition:.6s;
    transform: rotatex(40deg) translatey(-100px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(184, 184, 184, 0.11);
    border-radius: 20px;
    text-decoration: none;
  }
}



@media screen and (max-width: 685px) {
  #grillaProyects{
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6";
      gap: 50px;
    justify-content: center;
  }

  .card1{
    text-align:center;
    width: 300px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.125);
    transition:.6s;
    transform: rotatex(5deg) translatey(0px) translatez(0px);
    box-shadow: 0px 20px 60px rgba(184, 184, 184, 0.11);
    border-radius: 20px;
    text-decoration: none;
  }
}