#knows{
    padding-top: 100px;
    margin-bottom: 100px;
}

.container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "card1 card2 card3 card4"
        "card5 card6 card7 card8"
        "card9 card9 card10 card10";
    grid-gap: 20px;
}

#card1{
    grid-area: card1;
}
#card2{
    grid-area: card2;
}
#card3{
    grid-area: card3;
}
#card4{
    grid-area: card4;
}
#card5{
    grid-area: card5;
}
#card6{
    grid-area: card6;
}
#card7{
    grid-area: card7;
}
#card8{
    grid-area: card8;
}
#card9{
    grid-area: card9;
}
#card10{
    grid-area: card10;
}



.cardSkills{
    text-decoration: none;
    color: rgb(214, 214, 214);
    border: 1px solid rgba(224, 224, 224, 0.521);
    padding: 20px;
    text-align: center;
}
.cardSkills:hover{
    transition: all .6s;
    border: 1px solid #fff;
    color: crimson;
    box-shadow: 1px 1px 40px crimson;
    border: 1px solid crimson;

}

.cardSkills p{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.cardSkills img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}







@media screen and (max-width: 930px) {
    .container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card9"
            "card10 card10 card10";
    }
}


@media screen and (max-width: 750px) {
    .container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8"
            "card9 card10";
    }
}


@media screen and (max-width: 500px) {
    .container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6"
            "card7"
            "card8"
            "card9"
            "card10";
    }
}