.stylesA{
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    box-shadow: inset 0 0 0 0 rgb(25, 25, 25);
    color: rgb(19, 19, 19);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}


.stylesA:hover{
    color: rgb(184, 184, 184);
    box-shadow: inset 200px 0 0 0 rgb(25, 25, 25);
}





@media screen and (max-width: 1000px) {
    .stylesA{
        font-size: 30px;
    }
    
}



@media screen and (max-width: 800px) {
    .stylesA{
        font-size: 25px;
    }
    
}



@media screen and (max-width: 700px) {
    .stylesA{
        font-size: 25px;
    }
    
}



@media screen and (max-width: 641px) {
    .stylesA{
        font-size: 20px;
    }
    
}



@media screen and (max-width: 564px) {
    .stylesA{
        font-size: 18px;
    }
    
}