#containerMain{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "leftSide rightSide";
    grid-gap: 20px;
    margin: 100px;
}


#title{
    font-size: 30px;
    font-weight: 600;
}



.leftSide{
    grid-area: leftSide;
}


.rightSide{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas:
        "g1 g1"
        "g2 g2"
        "g3 g4";
    
    grid-area: rightSide;
    text-align: left;
    margin-top: 20px;
}
.rightSide p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(184, 184, 184);
}
.g1{
    grid-area: g1;
}
.g2{
    grid-area: g2;
}
.g3{
    grid-area: g3;
}
.g4{
    grid-area: g4;
}








@media screen and (max-width: 800px) {
    #containerMain{
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "leftSide leftSide"
            "rightSide rightSide";
        grid-gap: 20px;
        margin: 40px;
        margin-top: 50px;
    }

    .rightSide{
        margin-top: 100px;
    }

    .leftSide{
        grid-area: leftSide;
    }
}


@media screen and (max-width: 400px) {
    .rightSide p{
        font-size: 18px;
    }
}