#home{
    padding-top: 100px;
    margin-bottom: 100px;
}


.containerMain{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.animated-text{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    min-width: 280px;
    margin-bottom: 50px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Front-end Developer";
    color: crimson;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #070707;
    border-left: 2px solid crimson;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}



.text{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


.containerButtons{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}





@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,40%{
        content: "Front-end Developer";
    }
    41%,80%{
        content: "Back-end Developer";
    }
    81%,100%{
        content: "Community Manager";
    }
}

@keyframes typing {
    0%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    0%,40%,41%,80%,81%,100%{
        width: calc(100% + 8px);
    }
}





@media screen and (max-width: 550px) {
    .animated-text{
        font-size: 30px;
    }
    
    .text{
        font-size: 18px;
    }
}


@media screen and (max-width: 490px) {
    .animated-text{
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .animated-text{
        font-size: 22px;
    }
    
    .text{
        font-size: 18px;
    }
}