#contact{
    padding-top: 100px;
	margin-bottom: 50px;
}


#containerCon{
	width: 80%;
	margin: auto;
}

.description{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
}


#containerContact{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formStyle{
    width: 100%;
	border-radius: 5px;
	padding: 50px;
	box-shadow: #1f1f1f 2px 5px 10px;
    border: 1px solid crimson;
}


.formStyle label {
	display: block;
	font-weight: 500;
	font-size: 20px;
}

.formStyle div {
    width: 45%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formStyle input, textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000;
    color: #000;
    background-color: rgb(214, 214, 214);
}
.formStyle input:focus {
	outline: none;
	border: 2px solid crimson;
	transition: all .5s;
}
.formStyle textarea:focus {
	outline: none;
	border: 2px solid crimson;
	transition: all .3s;
}

.nameAddress {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}


.buttonChange{
	display: block;
	background: crimson;
	font-weight: 600;
	border: none;
	cursor: pointer;
    margin: auto;
	width: 85%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}



.buttonChange:hover {
	background: rgb(124, 11, 33);
}

.buttonChange:active {
	scale: .9;
    transition: all .4;
}


.pRRSS{
	margin-top: 80px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.containerFooterRRSS{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.containerFooterRRSS img:hover{
	scale: 1.2;
	transition: all .6s;
}










@media screen and (max-width: 790px) {
    .description{
        font-size: 20px;
    }

	.nameAddress label{
        font-size: 16px !important;
	}
}


@media screen and (max-width: 500px) {
    .description{
        font-size: 18px;
    }

	.nameAddress label{
        font-size: 16px !important;
	}
}